:root, body {
  font-family: 'Inconsolata', monospace;
  /* max-width: 1280px; */
  min-width: 1000px;
  margin: 25px;
  --primary: #f5f5f5;
  --secondary: #cbcbcb;
}



h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background: var(--primary);
  cursor: pointer;
  /* transition: border-color 0.25s; */
}
button:hover {
  border-color: black;
  background: var(--secondary);
  

}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}


#homeforms-container {
  display: grid;
  grid-template-rows: 1fr 2fr;
  grid-template-columns: 1fr 1fr;
  column-gap: 30px;
  width: 600px;
  margin-left: 30%;
  justify-content: center
}

#homeforms-container * {
  display: grid;
  justify-content: center

}

#homeforms-container h1{
  grid-column-end: span 2
}

.home-form button {
  padding: 20px;
  border: none
}

#nouserpopup *, #deletepopup *, #accuracypopup *, #repeatwordpopup * {
  color: black;
  font-family: 'Inconsolata', monospace;
  text-align: center;
  padding: 10px

}

#nouserpopup button, #deletepopup button, #accuracypopup button {
  background: var(--primary);
  margin: 5px 10px
}

#emojitext {
  font-size: 20px
}

/* .home-form button:hover {
  background: var(--primary);
  border-color: black
} */

.home-form * {
  margin: 10px;
  padding: 10px;
  font-family: 'Inconsolata', monospace;
  border: solid;
  border-width: 1px;
  border-radius: 5px;
  border-color: grey;
  font-size: 18px;
  height: 20px;
  align-content: center
  

}


#header-container {
  display: grid;
  grid-template-columns: 2fr 1fr;
  width: 100%;
  height: 70px
}

#header-details {
  display: flex;
  justify-content: space-around
}

#header-container * {
  color: black;
  text-decoration: none;
  font-size: 18px
}

#header-details *:active {
  font-weight: bold
}

#createoptions-container {
  display: flex;
  justify-content: center
}

#createoptionsbutton-container {
  display: grid;
  grid-template-rows: 1fr 4fr;
  grid-template-columns: 1fr 1fr;
  height: 100px
 
}

.createoptions-mainbutton {
  width: 300px;
  min-height: 60px;
  max-height: 60px;
  margin: 20px;
  background: var(--primary);


}

.createoptions-mainbutton:hover {
  /* font-weight: 600; */
  border-color: black
}

.createoptions-mainbutton * {
  text-decoration: none;
  color: black

}

#existingpuzzles-container {
  display: grid;
  grid-column-end: span 2;
  justify-content: end
  /* position: absolute;
  top: 250px;
  left: 600px */
  /* width: 150px; */
}

#existingpuzzle-link {
  color: black;
  /* margin: 15px; */
  padding: 15px;
  background: white;
  
  /* padding-top: 30px; */
  /* border: solid; */
}

#existingpuzzle-link:hover {
  border: none;
  text-decoration: underline
}

#existingpuzzle-link:focus-visible {
  outline: none
}


#existingpuzzle-link * {
  text-decoration: none;
  color: black
}

#createpage-container, #solvepage-container {
  display: grid;
  grid-template-rows: 1fr 5fr;
  grid-template-columns: 1fr 2fr 1fr;
  column-gap: 20px;
  
}

/* @media (max-width: 1200px) {
  #createpage-container  {


}} */

#createpuzzletitle {
  display: grid;
  grid-column-end: span 2;
  height: 150px;
  grid-template-columns: 4fr 1fr;
  align-items: center


}

#save-button {
  width: 170px;
  height: 60px;
  font-size: 21px;
  background: #0B6623;
  color: white
}

#save-button:hover {
  background: #0c8900;
  color: white;
  border-color: #0c8900
  

}

#clues-div {
  min-width: 180px
}


#puzzlenameeditmode input {
  height: 100px;
  font-size: 50px;
  font-family: 'Inconsolata', monospace;
  border-radius: 4px;
  border: solid;
  border-width: 1px;
  padding-left: 10px

}

#puzzlenameeditmode button {
  margin: 10px;
}

#create-details {
  height: 100%;
  margin-left: 15px;
}

#solve-details {
  display: grid;
  align-items: center

}

#create-details * {
  margin: 10px;
}

#solve-details * {
  margin: 10px 0;
  float: right;
  width: 80%
}

#solveclues {
  margin-left: 10px

}

#newword-form, #newguess-form input {
  margin: 10px;
  margin-left: 0;
   
}

#newword-form button {
  padding: 6px 7px;
  background: white;
  font-size: 17px;
  width: 200px; 
}

#newword-form button:hover {
  background: #0c8900;
  color: white;
  border-color: #0c8900
}

#newguess-form input {
  float: right;
  width: 80%
}

#newguess-form button {
  font-weight: 600;
  border-radius: 5px;
  float: right;
  width: 80%
}

/* #newguess-form button:hover {
  background: #0c8900;
  color: white;
  border-color: #0c8900
} */

#checkaccuracy-btn {
  background: #0B6623;
  color: white

}

#checkaccuracy-btn:hover {
  background: #0c8900;
  color: white;
  border-color: #0c8900
}


#solve-details button {
  max-width: 300px
}




#newword-form *, #newguess-form * {
  font-family: 'Inconsolata', monospace;
  font-size: 15px;
  margin: 7px;
  color: black;
  width: 160px;
  min-height: 20px;

}

#addtopuzzle {
  border-radius: 5px;
  padding: 15px 7px;
  background: var(--primary)
}

#addtopuzzle-instructions1 {
  font-size: 18px
}

.smallfont {
  font-size: 13px
}

#cluesuggestions-container, #wordsuggestions-container {
  border: solid;
  border-width: 1px;
  border-radius: 5px;
  padding: 6px
}

#cluesuggestions-title, #wordsuggestions-title, #quicktools-title {
  font-size: 18px;
  font-weight: bold
}

/* #cluesuggestions-container button {
  width: 200px
} */

#quicktools-container {
  /* height: 200px; */
  background: var(--primary);
  padding: 10px;
  border-radius: 5px
}

#quicktools-container * {
  /* background: white; */
  /* height: 50px; */
  margin: 10px;
  /* width: 100px */
}

#clearword-button, #clearselectedcells-button {
  background: white;
  font-size: 13px
}



#deletepuzzle-button {
  background: #8b0000;
  color: white;
  border: none;
  /* font-size: 20px */
}

#deletepuzzle-button:hover {
  background: #ff0000
}

#grid2 {
  width: 700px;
  height: 700px;
  /* border: solid;
  border-width: 1px */
}

#gridrows {
  border: solid;
  border-width: 1px;
  width: 700px;
  height: 40px;
  border-bottom: none;
  display: grid;
  grid-template-columns: repeat(18, 1fr)
}

#gridcell {
  border: solid;
  border-width: 1px;
  border-top: none;
  border-bottom: none;
  border-right: none;
  display: grid;
  width: 100%;
}

#cell-number {
  font-size: 14px;
  display: grid;
  justify-content: left;
  height: 10px;
  border: none
}

#cell-letter {
  display: grid;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  border: none
  /* height: 15px */
  /* font-weight: 600 */
}

#clueedit-label {
  margin: 4px
}

#editclue-input {
  font-size: 14px;
  border: solid;
  border-width: 1px
}

.editclue-btn {
  padding: 5px;
  width: 40%;
  margin: 5px
}


